<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbx0 个人博客 数据中心">
    <meta name="author" content="sbx0">
    <link rel="icon" href="img/favicon.png">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7377922292358202",
            enable_page_level_ads: true
        });
    </script>

    <title>数据中心 | sbx0</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- 消息提示 -->
    <link href="css/messenger.css" rel="stylesheet">
    <link href="css/messenger-theme-flat.css" rel="stylesheet">
    <link href="css/offcanvas.css" rel="stylesheet">

</head>

<body class="bg-light">

<div id="main" v-cloak>

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">{{space}}</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse">
            <ul class="navbar-nav mr-auto">
                <nav_bar_components v-for="nav_bar in nav_bar_data"
                                    v-bind:nav_bar="nav_bar"
                                    v-bind:key="nav_bar.id">
                </nav_bar_components>
            </ul>
        </div>
    </nav>

    <div class="nav-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
            <nav_scroller_components v-for="nav_scroller in nav_scroller_data"
                                     v-bind:nav_scroller="nav_scroller"
                                     v-bind:key="nav_scroller.id">
            </nav_scroller_components>
        </nav>
    </div>

    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded box-shadow" style="overflow: auto;">
            <h6 class="border-bottom border-gray pb-2 mb-0">近三十天全站访问数</h6>
            <!--<div id="c1" class="g2"></div>-->
            <div style="width:416px;height:218px;margin:0 auto;">
                <canvas id="c1" style="width:416px;height:218px;"></canvas>
            </div>
        </div>
    </main>

</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.min.js"></script>
<script src="js/messenger.min.js"></script>
<script src="js/messenger-theme-flat.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/g2-mobile.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="js/i18N_zh_CN.js"></script>
<script src="js/base.js"></script>
<script src="js/data.js"></script>
</body>
</html>