<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbx0 个人博客 首页">
    <meta name="author" content="sbx0">
    <link rel="icon" href="img/favicon.png">

    <title>空间站 | sbx0</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- 消息提示 -->
    <link href="css/messenger.css" rel="stylesheet">
    <link href="css/messenger-theme-flat.css" rel="stylesheet">
    <link href="css/offcanvas.css" rel="stylesheet">

</head>

<body class="bg-light">

<div id="main" v-cloak>

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">{{space}}</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse">
            <ul class="navbar-nav mr-auto">
                <nav_bar_components v-for="nav_bar in nav_bar_data"
                                    v-bind:nav_bar="nav_bar"
                                    v-bind:key="nav_bar.id">
                </nav_bar_components>
            </ul>
        </div>
    </nav>

    <div class="nav-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
            <nav_scroller_components v-for="nav_scroller in nav_scroller_data"
                                     v-bind:nav_scroller="nav_scroller"
                                     v-bind:key="nav_scroller.id">
            </nav_scroller_components>
        </nav>
    </div>

    <main role="main" class="container">

        <top_components v-for="top in top_data"
                        v-bind:top="top"
                        v-bind:key="top.id">
        </top_components>

        <div class="row">
            <div class="col-xl-8">
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <h6 class="border-bottom border-gray pb-2 mb-0">日志</h6>
                    <article_components v-for="article in article_data"
                                        v-bind:article="article"
                                        v-bind:key="article.id">
                    </article_components>
                    <small class="d-block text-right mt-3">
                        <a href="../article/list?page=2">查看更多</a>
                    </small>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <h6 class="border-bottom border-gray pb-2 mb-0">评论</h6>
                    <comment_components v-for="comment in comment_data"
                                        v-bind:comment="comment"
                                        v-bind:key="comment.id">
                    </comment_components>
                    <small class="d-block text-right mt-3">
                        <a href="../article/list?page=1">查看更多</a>
                    </small>
                </div>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Google Adsense -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7377922292358202"
                 data-ad-slot="2325273723"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

    </main>

</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.min.js"></script>
<script src="js/messenger.min.js"></script>
<script src="js/messenger-theme-flat.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/fontawesome.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="js/i18N_zh_CN.js"></script>
<script src="js/base.js"></script>
<script src="js/index.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129309220-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-129309220-1');
</script>

</body>
</html>