<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbx0 个人博客 消息中心">
    <meta name="author" content="sbx0">
    <link rel="icon" href="img/favicon.png">

    <title>消息中心 | sbx0</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- 消息提示 -->
    <link href="css/messenger.css" rel="stylesheet">
    <link href="css/messenger-theme-flat.css" rel="stylesheet">
    <link href="css/offcanvas.css" rel="stylesheet">

</head>

<body class="bg-light">

<div id="main" v-cloak>

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">{{space}}</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse">
            <ul class="navbar-nav mr-auto">
                <nav_bar_components v-for="nav_bar in nav_bar_data"
                                    v-bind:nav_bar="nav_bar"
                                    v-bind:key="nav_bar.id">
                </nav_bar_components>
            </ul>
        </div>
    </nav>

    <div class="nav-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
            <nav_scroller_components v-for="nav_scroller in nav_scroller_data"
                                     v-bind:nav_scroller="nav_scroller"
                                     v-bind:key="nav_scroller.id">
            </nav_scroller_components>
        </nav>
    </div>

    <main role="main" class="container">

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="chat">
                <div class="chat-head">
                    <!--<ul class="nav nav-tabs">-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link active" href="javascript:void(0);"-->
                    <!--data-toggle="tab" href="#channel" role="tab" aria-controls="home" aria-selected="true">-->
                    <!--系统通知-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="javascript:void(0);"-->
                    <!--data-toggle="tab" href="#channel" role="tab" aria-controls="home" aria-selected="true">-->
                    <!--公共聊天室-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-submit-tab"
                               data-toggle="tab" href="#nav-system-message" role="tab"
                               aria-controls="nav-system-message" aria-selected="true">系统通知</a>
                            <a class="nav-item nav-link" id="nav-my-tab"
                               data-toggle="tab" href="#nav-public-chat" role="tab"
                               aria-controls="#nav-public-chat" aria-selected="false">公共聊天室</a>
                        </div>
                    </nav>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-system-message" role="tabpanel"
                         aria-labelledby="nav-system-message">
                        <div class="accordion" id="accordionExample">
                            <notification_components v-for="notification in notification_data"
                                                     v-bind:notification="notification"
                                                     v-bind:key="notification.id">
                            </notification_components>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-public-chat" role="tabpanel" aria-labelledby="nav-public-chat">
                        <div id="channel">
                            <div id="chat_content" class="chat-body"></div>
                            <a name="go"></a>
                            <div class="chat-foot">
                                <form id="send_message_form">
                                    <div class="input-group">
                                        <input id="message_content" name="content" type="text" class="form-control"
                                               autofocus>
                                        <div class="input-group-append">
                                            <button id="send_button" type="submit" class="btn btn-secondary">
                                                发送
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <p class="text-center alert-warning" id="user_ip"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Google Adsense -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7377922292358202"
             data-ad-slot="2325273723"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </main>

</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.min.js"></script>
<script src="js/messenger.min.js"></script>
<script src="js/messenger-theme-flat.js"></script>
<script src="js/sockjs.min.js"></script>
<script src="js/stomp.min.js"></script>
<!--<script src="js/vue.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/i18N_zh_CN.js"></script>
<script src="js/base.js"></script>
<script src="js/message.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129309220-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-129309220-1');
</script>

</body>
</html>