html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
}

@media (max-width: 768px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: var(--gray-dark);
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .offcanvas-collapse.open {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem); /* Account for horizontal padding on navbar */
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: var(--secondary);
}

.nav-underline .active {
    font-weight: 500;
    color: var(--gray-dark);
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: var(--purple);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-100 {
    line-height: 1;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}

/* 自定义 begin */
body {
    font-size: 15px;
    font-family: Tahoma, "Times New Roman",
    "Microsoft YaHei", "微软雅黑",
    STXihei, "华文细黑",
    serif;
}

p {
    font-size: 15px !important;
}

a:hover {
    text-decoration: none;
}

.markdown-body img {
    max-height: 400px;
    margin: 10px auto;
    display: block;
}

.media-heading {
    line-height: normal;
}

.editormd {
    z-index: 99999;
}

.editormd-html-preview, .editormd-preview-container {
    line-height: 1.8;
    font-size: 15px !important;
    padding: 5px 0px;
    background-color: #FFFFFF;
}

.editormd-html-preview pre.prettyprint, .editormd-preview-container pre.prettyprint {
    padding: 10px;
    border: 1px solid #ddd;
    white-space: nowrap;
    word-wrap: break-word;
}

[v-cloak] {
    display: none;
}

.chat {
    margin-top: 5px;
    margin-bottom: 10px;
}

.chat-head {
    margin-bottom: 10px;
}

.chat-body {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px 5px 5px 5px;
    overflow: auto;
    min-height: 450px;
    max-height: 450px;
}

.chat-body p {
    margin-bottom: 0rem;
}

.chat-foot {
    margin-top: 5px;
    margin-bottom: 10px;
}

.chat-user-name {
    padding: 1px 10px 1px 10px;
    font-weight: bold;
    width: 100%;
    float: left;
    display: block;
}

.chat-time {
    margin-top: 5px;
    padding: 1px 10px 1px 10px;
    width: 100%;
    float: left;
    display: block;
}

.chat-notification {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #f3fef2;
    width: 100%;
    padding: 5px 10px 5px 10px;
    float: right;
    display: block;
    border-radius: 10px;
}

.chat-receive {
    margin-bottom: 5px;
    background-color: #eceff6;
    width: 100%;
    padding: 5px 10px 5px 10px;
    float: left;
    display: block;
    border-radius: 10px;
}

/* 自定义 end */
