body {
    background-color: #2c2c2c;
    color: #a9b6c2;
    font-size: 20px;
    margin: auto 30px;
}

p {
    margin: 5px;
}

a {
    color: #a9b6c2;
    text-decoration: none;
}

.article {
    margin-bottom: 50px;
}

.title {
    color: #cd7832;
}

.time {
    color: #e8bf69;
}

.content {
    text-indent: 25px;
}

.other {
    color: #619753;
}

.foot {
    text-align: center;
    margin-bottom: 50px;
}

