<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" th:content="${article.introduction}">
    <meta name="author" th:content="${article.author.name}">
    <meta name="author" content="sbx0">
    <link rel="icon" th:href="@{~/img/favicon.png}">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7377922292358202",
            enable_page_level_ads: true
        });
    </script>

    <title th:text="${article.title} + '  |  sbx0'"></title>

    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">

    <!-- 消息提示 -->
    <link th:href="@{~/css/messenger.css}" rel="stylesheet">
    <link th:href="@{~/css/messenger-theme-flat.css}" rel="stylesheet">
    <!-- 图片浏览 -->
    <link th:href="@{~/css/viewer.min.css}" rel="stylesheet">
    <!-- Editor.md - 开源在线 Markdown 编辑器 -->
    <link th:href="@{~/css/editormd.min.css}" rel="stylesheet">
    <link th:href="@{~/css/offcanvas.css}" rel="stylesheet">

</head>

<body class="bg-light">

<div id="main" v-cloak>

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">{{space}}</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse">
            <ul class="navbar-nav mr-auto">
                <nav_bar_components v-for="nav_bar in nav_bar_data"
                                    v-bind:nav_bar="nav_bar"
                                    v-bind:key="nav_bar.id">
                </nav_bar_components>
            </ul>
        </div>
    </nav>

    <div class="nav-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
            <nav_scroller_components v-for="nav_scroller in nav_scroller_data"
                                     v-bind:nav_scroller="nav_scroller"
                                     v-bind:key="nav_scroller.id">
            </nav_scroller_components>
        </nav>
    </div>

    <main role="main" class="container">

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h5 th:if="${article.top < 0}" class="text-danger mb-2">
                <strong>
                    该文章已被隐藏
                </strong>
            </h5>

            <h5 th:text="${article.title}"></h5>
            <p class="blog-post-meta">
                <a th:href="'../user/'+${article.author.id}+'?page='+${page}+'&size=20#'+${article.id}"
                   th:text="${article.author.name}"></a>
                <span th:text="${#dates.format(article.time,'yyyy-MM-dd HH:mm')}"
                      th:unless="${article.lastChangeTime != null}"></span>
                <span th:text="'于 '+${#dates.format(article.lastChangeTime,'yyyy-MM-dd HH:mm')}+' 修改'"
                      th:if="${article.lastChangeTime != null}"
                      class="text-danger">
                </span>
            </p>

            <div th:if="${password != 1}" id="markdown">
                <textarea style="display:none;" th:text="${article.content}"></textarea>
            </div>

            <form th:if="${password == 1}" class="mt-1" action="/article/checkPassword" method="post">
                <input name="id" type="hidden" th:value="${article.id}">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">提交</button>
            </form>

            <ul class="nav justify-content-center mt-3 border-top">
                <li class="nav-item">
                    <a class="nav-link text-success" href="javascript:void(0)">
                        阅
                        <span th:text="${article.views}">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" onclick="attitude(1)" href="javascript:void(0)">
                        赞
                        <span id="likes" th:text="${article.likes}">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" onclick="attitude(2)" href="javascript:void(0)">
                        踩
                        <span id="dislikes" th:text="${article.dislikes}">0</span>
                    </a>
                </li>
                <li class="nav-item" hidden>
                    <a class="nav-link disabled" href="javascript:void(0)">
                        喜欢
                        <span>0</span>
                    </a>
                </li>
                <li class="nav-item" hidden>
                    <a class="nav-link disabled" href="javascript:void(0)">
                        收藏
                        <span>0</span>
                    </a>
                </li>
            </ul>

            <nav class="blog-pagination">
                <a v-if="prevA" class="btn btn-sm btn-outline-primary" :href="prev_url"
                   :title="prev_full">{{prev}}</a>
                <a v-else="prevA" class="btn btn-sm btn-outline-primary disabled">没有了</a>
                <a v-if="nextA" class="btn btn-sm btn-outline-primary float-right" :href="next_url"
                   :title="next_full">{{next}}</a>
                <a v-else="nextA" class="btn btn-sm btn-outline-primary float-right">没有了</a>
            </nav>

        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-2">版权声明</h6>
            <p>
                作者:
                <a th:href="'http://space.sbx0.cn/user/' + ${article.author.id}"
                   th:text="${article.author.name}"></a>
                <br>
                时间:
                <span th:text="${#dates.format(article.time,'yyyy-MM-dd HH:mm')}"></span>
                <br>
                链接:
                <a th:href="'http://space.sbx0.cn' + ${#httpServletRequest.requestURI}"
                   th:text="'http://space.sbx0.cn' + ${#httpServletRequest.requestURI}"></a>
                <br>
                本博客所有文章除特别声明外，均采用
                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
                许可协议
                ，
                <strong>
                    转载请注明出处
                </strong>
            </p>
        </div>

        <div th:if="${manage == 1}" class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="pb-2 mb-2">管理</h6>
            <a th:href="'../article/updateOne?id='+${article.id}" class="btn btn-sm btn-outline-success"
               role="button">
                修改
            </a>
            <a onclick="del()" href="javascript:void(0)" class="btn btn-sm btn-outline-danger" role="button">
                删除
            </a>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="pb-2 mb-2">评论</h6>
            <form id="commentForm">
                <input name="entity_id" type="hidden" th:value="${article.id}">
                <input name="entity_type" type="hidden" value="article">
                <div class="form-group">
                    <input type="text" class="form-control" id="user_name" name="user_name"
                           placeholder="匿名">
                </div>
                <div class="form-group">
                                <textarea class="form-control" id="content" name="content"
                                          placeholder="无需登陆"></textarea>
                </div>
                <button onclick="javascript:comment();" type="button" class="btn btn-sm btn-primary">
                    {{comment}}
                </button>
            </form>
            <comment_components v-for="comment in comment_data"
                                v-bind:comment="comment"
                                v-bind:key="comment.id">
            </comment_components>
        </div>

        <input id="id" type="hidden" th:value="${article.id}">
        <input id="u_id" type="hidden" th:value="${article.author.id}">

    </main>

</div>

<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/vue.min.js}"></script>
<script th:src="@{~/js/messenger.min.js}"></script>
<script th:src="@{~/js/messenger-theme-flat.js}"></script>
<script th:src="@{~/js/viewer.min.js}"></script>
<script th:src="@{~/js/editormd.js}"></script>
<script th:src="@{~/lib/marked.min.js}"></script>
<script th:src="@{~/lib/prettify.min.js}"></script>
<script th:src="@{~/lib/raphael.min.js}"></script>
<script th:src="@{~/lib/underscore.min.js}"></script>
<script th:src="@{~/lib/sequence-diagram.min.js}"></script>
<script th:src="@{~/lib/flowchart.min.js}"></script>
<script th:src="@{~/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{~/js/i18N_zh_CN.js}"></script>
<script th:src="@{~/js/base.js}"></script>
<script th:src="@{~/js/article.js}"></script>
</body>
</html>