<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" th:content="${article.introduction}">
    <meta name="author" th:content="${article.author.name}">
    <meta name="author" content="sbx0">
    <link rel="icon" th:href="@{~/img/favicon.png}">

    <title th:text="${article.title} + ' | sbx0'"></title>

    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">

    <!-- 博客模板 -->
    <link th:href="@{~/css/blog.css}" rel="stylesheet">
    <!-- 消息提示 -->
    <link th:href="@{~/css/messenger.css}" rel="stylesheet">
    <link th:href="@{~/css/messenger-theme-flat.css}" rel="stylesheet">
    <!-- 图片浏览 -->
    <link th:href="@{~/css/viewer.min.css}" rel="stylesheet">
    <!-- Editor.md - 开源在线 Markdown 编辑器 -->
    <link th:href="@{~/css/editormd.min.css}" rel="stylesheet">
    <link th:href="@{~/css/base.css}" rel="stylesheet">


</head>

<body>

<div class="container">

    <header id="blog-header" class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center" v-cloak>
            <div class="col-4 pt-1">
                <a class="blog-header-logo text-dark"
                   th:href="'../user/'+${article.author.id}+'?page='+${page}+'&size=20#'+${article.id}">{{space}}</a>
            </div>
            <div class="col-4 text-center">

            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="/article/search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" th:href="@{~/login.html}">{{login}}</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1">
        <nav id="nav" class="nav d-flex justify-content-between">
            <nav-bar v-for="nav in groceryList" v-bind:nav="nav" v-bind:key="nav.id"></nav-bar>
        </nav>
    </div>

</div>

<div class="container mt-4" th:if="${article?.introduction != null}">
    <div class="row">
        <div class="col-md-12">
            <h6 class="font-italic" th:text="${article?.introduction}"></h6>
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12 blog-main">

            <div class="go-top">
                <div class="arrow"></div>
                <div class="stick"></div>
            </div>

            <h4 th:if="${article.top < 0}" class="text-danger mb-2">
                <strong>
                    该文章已被隐藏
                </strong>
            </h4>

            <h3 th:text="${article.title}"></h3>
            <p class="blog-post-meta">
                <a th:href="'../user/'+${article.author.id}+'?page='+${page}+'&size=20#'+${article.id}"
                   th:text="${article.author.name}"></a>
                <span th:text="${#dates.format(article.time,'yyyy-MM-dd HH:mm:ss')}+'发布'"></span>
                <span th:text="${#dates.format(article.lastChangeTime,'yyyy-MM-dd HH:mm:ss')}+'修改'"
                      th:if="${article.lastChangeTime != null}"
                      class="text-danger"></span>
            </p>
            <div th:if="${password != 1}" id="markdown">
                <textarea style="display:none;" th:text="${article.content}"></textarea>
            </div>

            <form th:if="${password == 1}" class="mt-1" action="/article/checkPassword" method="post">
                <input name="id" type="hidden" th:value="${article.id}">
                <div class="form-group">
                    <input type="text" class="form-control" id="password" name="password" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">提交</button>
            </form>

            <ul class="nav justify-content-center mt-3 border-top">
                <li class="nav-item">
                    <a class="nav-link text-success" href="javascript:void(0)">
                        阅
                        <span th:text="${article.views}">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" onclick="attitude(1)" href="javascript:void(0)">
                        赞
                        <span id="likes" th:text="${article.likes}">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" onclick="attitude(2)" href="javascript:void(0)">
                        踩
                        <span id="dislikes" th:text="${article.dislikes}">0</span>
                    </a>
                </li>
                <li class="nav-item" hidden>
                    <a class="nav-link disabled" href="javascript:void(0)">
                        喜欢
                        <span>0</span>
                    </a>
                </li>
                <li class="nav-item" hidden>
                    <a class="nav-link disabled" href="javascript:void(0)">
                        收藏
                        <span>0</span>
                    </a>
                </li>
            </ul>

            <!--<aside id="blog-about" class="col-md-4 blog-sidebar small-font" v-cloak>-->

            <!--</aside>-->
        </div>

    </div>

</main>

<div id="article">
    <div class="container pb-2 mt-3 mb-3 ">
        <p class="font-italic">
            <strong>
                版权声明
            </strong>
        </p>
        <p>
            作者:
            <a th:href="'http://space.sbx0.cn/user/' + ${article.author.id}"
               th:text="${article.author.name}"></a>
            <br>
            链接:
            <a th:href="'http://space.sbx0.cn' + ${#httpServletRequest.requestURI}"
               th:text="'http://space.sbx0.cn' + ${#httpServletRequest.requestURI}"></a>
            <br>
            本博客所有文章除特别声明外，均采用
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
            许可协议
            ，
            <strong>
                转载请注明出处
            </strong>
        </p>
    </div>

    <div th:if="${manage == 1}" class="container pb-3 mb-3">
        <p class="font-italic">
            <strong>
                管理
            </strong>
        </p>
        <a th:href="'../article/updateOne?id='+${article.id}" class="btn btn-sm btn-outline-success"
           role="button">
            修改
        </a>
        <a onclick="del()" href="javascript:void(0)" class="btn btn-sm btn-outline-danger" role="button">
            删除
        </a>
    </div>

    <div class="container mt-3 mb-3">
        <nav class="blog-pagination" v-cloak>
            <a v-if="prevA" class="btn btn-sm btn-outline-primary" :href="prev_url"
               :title="prev_full">{{prev}}</a>
            <a v-else="prevA" class="btn btn-sm btn-outline-primary disabled">没有了</a>
            <a v-if="nextA" class="btn btn-sm btn-outline-primary float-right" :href="next_url"
               :title="next_full">{{next}}</a>
            <a v-else="nextA" class="btn btn-sm btn-outline-primary float-right">没有了</a>
        </nav>
        <div class="row" v-cloak>
            <div class="col-sm-12">
                <div>
                    <form id="commentForm">
                        <input name="entity_id" type="hidden" th:value="${article.id}">
                        <input name="entity_type" type="hidden" value="article">
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_name" name="user_name"
                                   placeholder="匿名">
                        </div>
                        <div class="form-group">
                                <textarea class="form-control" id="content" name="content"
                                          placeholder="无需登陆"></textarea>
                        </div>
                        <button onclick="javascript:comment();" type="button" class="btn btn-sm btn-primary">
                            {{comment}}
                        </button>
                    </form>
                </div>
            </div>
        </div>


        <div class="row" v-cloak>
            <div class="col-sm-12">
                <a name="comment"></a>
                <div id="comment-div">
                    <comment-list v-for="comment in comments"
                                  v-bind:key="comment.id"
                                  v-bind:comment="comment">
                    </comment-list>
                </div>
                <div class="text-center" hidden>
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <p>
                        加载中
                    </p>
                </div>
                <nav class="blog-pagination" v-cloak>
                    <a v-if="prevC" class="btn btn-sm btn-outline-primary" onclick="javascript:prevComment();">
                        上一页
                    </a>
                    <a v-if="nextC" class="btn btn-sm btn-outline-primary float-right"
                       onclick="javascript:nextComment();">
                        下一页
                    </a>
                </nav>
            </div>
        </div>
    </div>

</div>

<input id="id" type="hidden" th:value="${article.id}">
<input id="u_id" type="hidden" th:value="${article.author.id}">

<footer id="blog-footer" class="blog-footer" v-cloak>
    <p>
        <span v-html="copyright"></span>
    </p>
</footer>

<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/vue.min.js}"></script>
<script th:src="@{~/js/messenger.min.js}"></script>
<script th:src="@{~/js/messenger-theme-flat.js}"></script>
<script th:src="@{~/js/viewer.min.js}"></script>
<script th:src="@{~/js/editormd.js}"></script>
<script th:src="@{~/lib/marked.min.js}"></script>
<script th:src="@{~/lib/prettify.min.js}"></script>
<script th:src="@{~/lib/raphael.min.js}"></script>
<script th:src="@{~/lib/underscore.min.js}"></script>
<script th:src="@{~/lib/sequence-diagram.min.js}"></script>
<script th:src="@{~/lib/flowchart.min.js}"></script>
<script th:src="@{~/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{~/js/i18N_zh_CN.js}"></script>
<script th:src="@{~/js/base.js}"></script>
<script th:src="@{~/js/article.js}"></script>
</body>
</html>