<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{~/img/favicon.png}">

    <title>文章详情</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- 博客模板 -->
    <link th:href="@{~/css/blog.css}" rel="stylesheet">
    <!-- 消息提示 -->
    <link th:href="@{~/css/messenger.css}" rel="stylesheet">
    <link th:href="@{~/css/messenger-theme-flat.css}" rel="stylesheet">
    <link th:href="@{~/css/base.css}" rel="stylesheet">


</head>

<body>

<div class="container">
    <header id="blog-header" class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="blog-header-logo text-dark" th:href="@{~/index.html}">{{space}}</a>
            </div>
            <div class="col-4 text-center">

            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" th:href="@{~/login.html}">{{login}}</a>
            </div>
        </div>
    </header>

</div>

<main id="article" role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3>
                <p th:text="${article.title}"></p>
            </h3>
            <span th:text="${article.time}"></span>
            <a th:href="'../user/'+${article.author.id}+'?page=1&size=10'" th:text="${article.author.name}"></a>
            <div>
                <div th:utext="${article.content}"></div>
            </div>

            <nav class="blog-pagination" hidden>
                <a class="btn btn-outline-secondary disabled" href="#">{{prev}}</a>
                <a class="btn btn-outline-primary float-right" href="#">{{next}}</a>
            </nav>

            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <h4>{{comment}}</h4>
                        <form>
                            <div class="form-group">
                            <textarea class="form-control">
                            </textarea>
                            </div>
                            <button class="btn btn-primary">
                                {{comment}}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <aside id="blog-about" class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">{{about}}</h4>
                <p class="mb-0"><span v-html="about_content"></span></p>
            </div>
        </aside>

    </div>

</main>

<footer id="blog-footer" class="blog-footer">
    <p>
        <span v-html="copyright"></span>
    </p>
    <p>
        <a href="#">{{back_to_top}}</a>
    </p>
</footer>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script th:src="@{~/js/messenger.min.js}"></script>
<script th:src="@{~/js/messenger-theme-flat.js}"></script>
<script th:src="@{~/js/i18N_zh_CN.js}"></script>
<script th:src="@{~/js/base.js}"></script>
<script th:src="@{~/js/article.js}"></script>
</body>
</html>