<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbx0&nbsp;个人博客&nbsp;登陆">
    <meta name="author" content="sbx0">
    <link rel="icon" href="img/favicon.png">

    <title>登陆&nbsp;&nbsp;|&nbsp;&nbsp;sbx0</title>

    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">

    <!-- 博客模板 -->
    <link th:href="@{~/css/signin.css}" rel="stylesheet">
    <!-- 消息提示 -->
    <link th:href="@{~/css/messenger.css}" rel="stylesheet">
    <link th:href="@{~/css/messenger-theme-flat.css}" rel="stylesheet">
    <link th:href="@{~/css/base.css}" rel="stylesheet">
</head>

<body>
<div id="login_div" class="form-signin">

    <div v-if="info_seen" v-cloak>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h5 class="border-bottom border-gray pb-2 mb-0">已登录</h5>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">{{info_username}}</strong>
                    等级：{{info_level}}<br>
                    经验：{{info_exp}}<br>
                    积分：{{info_integral}}
                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                    <a href="markdown.html" class="btn btn-sm btn-outline-primary" role="button">
                        Markdown
                    </a>
                    <a href="index.html" class="btn btn-sm btn-outline-primary" role="button">
                        首页
                    </a>
                    <a :href="user_home" class="btn btn-sm btn-outline-primary" role="button">
                        {{home}}
                    </a>
                    <a href="/article/trash" class="btn btn-sm btn-outline-dark" role="button">
                        回收站
                    </a>
                    <a href="/log/list" class="btn btn-sm btn-outline-dark" role="button">
                        日志
                    </a>
                </p>
            </div>
            <div class="d-block text-right mt-3">
                <a id="logout" href="javascript:void(0)" class="btn btn-sm btn-danger" onclick="logout()">
                    {{logout}}
                </a>
            </div>
        </div>
    </div>
    <form v-if="form_seen" id="loginForm" action="/user/login" method="post" v-cloak>
        <h2 class="h2 mb-3 font-weight-normal">{{website}}</h2>
        <label for="username" class="sr-only">{{username}}</label>
        <input type="text" id="username" name="name" class="form-control" :placeholder="username" required autofocus>
        <label for="password" class="sr-only">{{password}}</label>
        <input type="password" id="password" name="password" class="form-control" :placeholder="password" required>
        <label for="code" class="sr-only">{{code}}</label>
        <input type="text" id="code" name="code" class="form-control mb-2" :placeholder="code">
        <div class="checkbox mb-3" hidden>
            <label>
                <input type="checkbox" value="remember-me">
                记住我
            </label>
        </div>
        <button id="login" class="btn btn-md btn-primary btn-block" type="submit">登陆</button>
        <a href="javascript:history.go(-1);" class="btn btn-secondary btn-block btn-md" role="button">返回</a>
        <small id="passwordHelpBlock" class="form-text text-muted">
            若您是第一次使用本站，登陆即注册。登陆有效期默认为30天。
        </small>
        <p class="mt-5 mb-3 text-muted">&copy; <a href="index.html">Ducsr.cn</a> 2017-2018</p>
    </form>

</div>
</body>

<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/vue.min.js}"></script>
<script th:src="@{~/js/messenger.min.js}"></script>
<script th:src="@{~/js/messenger-theme-flat.js}"></script>
<script th:src="@{~/js/i18N_zh_CN.js}"></script>
<script th:src="@{~/js/base.js}"></script>
<script th:src="@{~/js/login.js}"></script>
</body>
</html>