<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbx0&nbsp;个人博客&nbsp;搜索">
    <meta name="author" content="sbx0">
    <link rel="icon" th:href="@{~/img/favicon.png}">

    <title>搜索&nbsp;&nbsp;|&nbsp;&nbsp;sbx0</title>

    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">

    <!-- 博客模板 -->
    <link th:href="@{~/css/blog.css}" rel="stylesheet">
    <!-- 消息提示 -->
    <link th:href="@{~/css/messenger.css}" rel="stylesheet">
    <link th:href="@{~/css/messenger-theme-flat.css}" rel="stylesheet">
    <!-- 图片浏览 -->
    <link th:href="@{~/css/viewer.min.css}" rel="stylesheet">
    <!-- 代码高亮 -->
    <link th:href="@{~/css/prism.css}" rel="stylesheet">
    <link th:href="@{~/css/base.css}" rel="stylesheet">


</head>

<body>

<div class="container">

    <header id="blog-header" class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center" v-cloak>
            <div class="col-4 pt-1">
                <a class="blog-header-logo text-dark" href="../index.html">{{space}}</a>
            </div>
            <div class="col-4 text-center"></div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" th:href="@{~/login.html}">{{login}}</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1">
        <nav id="nav" class="nav d-flex justify-content-between">
            <nav-bar v-for="nav in groceryList" v-bind:nav="nav" v-bind:key="nav.id"></nav-bar>
        </nav>
    </div>

</div>

<main id="list-article" role="main" class="container">
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="blog-post text-center">
                <form class="mt-4">
                    <div class="input-group">
                        <input id="keyword" name="keyword" type="text" class="form-control"
                               th:value="${keyword}"
                               placeholder="文章名或内容">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" onclick="search()">搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-8 blog-main" th:if="${articles != null}">

            <div id="photo-viewer" class="blog-post" th:each="article,stat:${articles}">
                <h2 th:text="${article?.title}" class="blog-post-title"></h2>
                <p class="blog-post-meta">
                    <a th:text="${article?.author?.name}"
                       th:href="'../user/' + ${article?.author?.id} + '?page=1&size=10'"></a>
                    <span th:text="${#dates.format(article?.time,'yyyy-MM-dd HH:mm')}"></span>
                </p>
                <div th:utext="${article?.content}"></div>
                <a th:href="${article?.id}" class="continue-read btn btn-light">
                    继续阅读
                </a>
            </div>

            <nav th:if="${articles != null}" class="blog-pagination text-center">
                <a th:if="${prev_page != null}"
                   th:href="'?keyword=' + ${keyword} + '&page=' + ${prev_page} + '&size=' + ${size}"
                   class="btn btn-sm btn-outline-primary float-left">
                    {{prev}}
                </a>
                <a th:unless="${prev_page != null}"
                   class="btn btn-sm btn-outline-primary float-left disabled">
                    {{prev}}
                </a>
                <a th:if="${page != null}" href="javascript:void(0)" th:text="${page} + '/' + ${totalPages}"></a>
                <a th:if="${next_page != null}"
                   th:href="'?keyword=' + ${keyword} + '&page=' + ${next_page} + '&size=' + ${size}"
                   class="btn btn-sm btn-outline-primary float-right">
                    {{next}}
                </a>
                <a th:unless="${next_page != null}"
                   class="btn btn-sm btn-outline-primary float-right disabled">
                    {{next}}
                </a>
            </nav>

        </div>

        <aside id="blog-about" class="col-md-4 blog-sidebar" v-cloak th:if="${articles != null}">

            <div class="p-3 mb-3 bg-light rounded" th:if="${totalElements != null}">
                <h4 class="font-italic">数据</h4>
                <p class="mb-0" th:text="'共 ' + ${totalElements} + ' 篇日志'"></p>
                <br>
                <div class="form-group">
                    <label for="page">页数：</label>
                    <input id="page" type="number" class="form-control"
                           th:value="${page}"
                           th:max="${totalPages}"
                           th:min="1">
                </div>
                <div class="form-group">
                    <label for="size">条数：</label>
                    <input id="size" type="number" class="form-control"
                           th:value="${size}"
                           th:max="100"
                           th:min="1">
                </div>
                <button class="btn btn-sm btn-primary" onclick="javascript:jump_page();">跳页</button>
                </form>
            </div>

        </aside>

    </div>

</main>

<footer id="blog-footer" class="blog-footer" v-cloak>
    <p>
        <span v-html="copyright"></span>
    </p>
</footer>

<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/vue.min.js}"></script>
<script th:src="@{~/js/messenger.min.js}"></script>
<script th:src="@{~/js/messenger-theme-flat.js}"></script>
<script th:src="@{~/js/viewer.min.js}"></script>
<script th:src="@{~/js/prism.js}"></script>
<script th:src="@{~/js/i18N_zh_CN.js}"></script>
<script th:src="@{~/js/base.js}"></script>
<section>
    <script type="text/javascript">

        // 搜索
        function search() {
            var keyword = $("#keyword").val().trim();
            if (keyword > 20)
                keyword = keyword.substring(0, 20)
            location.replace("../article/search?keyword=" + keyword);
        }

        // // 配置图片浏览器
        // var viewer = new Viewer(document.getElementById('photo-viewer'));

        // 跳页
        function jump_page() {
            var keyword = $("#keyword").val().trim();
            if (keyword > 20)
                keyword = keyword.substring(0, 20)
            location.replace("../article/search?keyword=" + keyword);
            var page = $("#page").val().trim();
            var size = $("#size").val().trim();
            var url = "../article/search?keyword=" + keyword + "&page=" + page + " &size=" + size;
            location.replace(url)
        }

        // 上一页 下一页
        new Vue({
            el: '#list-article',
            data: {
                prev: i18N.prev,
                next: i18N.next,
            },
        })

        // 自动登陆
        if (login()) {
            $.ajax({
                url: '/user/info',
                type: 'GET',
                success: function (data) {
                    if (data.status == 0) {
                        blog_header.login = data.username;
                    }
                }
            })
        }
    </script>
</section>
</body>
</html>