<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="blog">
    <meta name="author" content="sbx0">
    <link rel="icon" th:href="@{~/img/favicon.png}">

    <title>用户页</title>

    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">

    <!-- 博客模板 -->
    <link th:href="@{~/css/blog.css}" rel="stylesheet">
    <!-- 消息提示 -->
    <link th:href="@{~/css/messenger.css}" rel="stylesheet">
    <link th:href="@{~/css/messenger-theme-flat.css}" rel="stylesheet">
    <!-- 图片浏览 -->
    <link th:href="@{~/css/viewer.min.css}" rel="stylesheet">
    <!-- 代码高亮 -->
    <link th:href="@{~/css/prism.css}" rel="stylesheet">
    <link th:href="@{~/css/base.css}" rel="stylesheet">

</head>

<body>

<div class="container">

    <header id="blog-header" class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center" v-cloak>
            <div class="col-4 pt-1">
                <a class="blog-header-logo text-dark" href="../index.html">{{space}}</a>
            </div>
            <div class="col-4 text-center"></div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="/article/search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" th:href="@{~/login.html}">{{login}}</a>
            </div>
        </div>
    </header>

</div>

<main id="list-article" role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">

            <div class="pb-3">
                <input id="user_id" type="hidden" th:value="${user.id}">
                <h3 th:text="${user.name}" class="font-italic"></h3>
                <h6 th:text="${user.signature}"></h6>
            </div>

            <div class="col-md-12 blog-main" th:if="${totalElements == null}">
                <div class="blog-post text-center">
                    <h2 class="blog-post-title">该用户未发布任何文章</h2>
                </div>
            </div>

            <div class="blog-post" th:each="article,stat:${articles}">
                <h2 th:text="${article?.title}" class="blog-post-title"></h2>
                <p class="blog-post-meta">
                    <a th:text="${article?.author?.name}"
                       th:href="'../user/' + ${article?.author?.id} + '?page=1&size=10'"></a>
                    <span th:text="${#dates.format(article?.time,'yyyy-MM-dd HH:mm')}"></span>
                </p>
                <p th:utext="${article?.content}"></p>
                <a th:href="'../article/' + ${article?.id}" class="continue-read btn btn-light">
                    继续阅读
                </a>
            </div>

            <nav class="blog-pagination text-center" v-cloak>
                <a th:if="${prev_page != null}"
                   th:href="'?page=' + ${prev_page} + '&size=' + ${size}"
                   class="btn btn-outline-primary float-left">
                    {{prev}}
                </a>
                <a th:if="${page != null}" href="javascript:void(0)" th:text="${page} + '/' + ${totalPages}"></a>
                <a th:if="${next_page != null}"
                   th:href="'?page=' + ${next_page} + '&size=' + ${size}"
                   class="btn btn-outline-primary float-right">
                    {{next}}
                </a>
            </nav>
        </div>

        <aside id="blog-about" class="col-md-4 blog-sidebar" v-cloak>

            <div class="p-3 mb-3 bg-light rounded" th:if="${totalElements != null}">
                <h4 class="font-italic">数据</h4>
                <p class="mb-0" th:text="'共 ' + ${totalElements} + ' 篇日志'"></p>
                <br>
                <div class="form-group">
                    <label for="page">页数：</label>
                    <input id="page" type="number" class="form-control"
                           th:value="${page}"
                           th:max="${totalPages}"
                           th:min="1">
                </div>
                <div class="form-group">
                    <label for="size">条数：</label>
                    <input id="size" type="number" class="form-control"
                           th:value="${size}"
                           th:max="100"
                           th:min="1">
                </div>
                <button class="btn btn-primary" onclick="javascript:jump_page();">跳页</button>
                </form>
            </div>

            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">{{about}}</h4>
                <p class="mb-0"><span v-html="about_content"></span></p>
            </div>

            <div class="p-3" hidden>
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>

            <div class="p-3" hidden>
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside>

    </div>

</main>

<footer id="blog-footer" class="blog-footer" v-cloak>
    <p>
        <span v-html="copyright"></span>
    </p>
</footer>

<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/vue.min.js}"></script>
<script th:src="@{~/js/messenger.min.js}"></script>
<script th:src="@{~/js/messenger-theme-flat.js}"></script>
<script th:src="@{~/js/prism.js}"></script>
<script th:src="@{~/js/i18N_zh_CN.js}"></script>
<script th:src="@{~/js/base.js}"></script>
<script th:src="@{~/js/viewer.min.js}"></script>
<section>
    <script>

        // 配置图片浏览器
        var viewer = new Viewer(document.getElementById('list-article'));

        // 跳页
        function jump_page() {
            var id = $("#user_id").val()
            var page = $("#page").val()
            var size = $("#size").val()
            var url = "../user/" + id + "?page=" + page + "&size=" + size
            location.replace(url)
        }

        // 上一页 下一页
        new Vue({
            el: '#list-article',
            data: {
                prev: i18N.prev,
                next: i18N.next,
            },
        })

        // 自动登陆
        if (login()) {
            $.ajax({
                url: '../user/info',
                type: 'GET',
                success: function (data) {
                    if (data.status == 0) {
                        blog_header.login = data.username;
                    }
                }
            })
        }
    </script>
</section>
</body>
</html>