<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sbx0.cn 个人博客">
    <meta name="description" th:content="${user.signature}">
    <meta name="author" th:content="${user.name}">
    <link rel="icon" th:href="@{~/img/favicon.png}">

    <title th:text="${user.name}"></title>

    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">

    <!-- 消息提示 -->
    <link th:href="@{~/css/messenger.css}" rel="stylesheet">
    <link th:href="@{~/css/messenger-theme-flat.css}" rel="stylesheet">
    <link th:href="@{~/css/offcanvas.css}" rel="stylesheet">

</head>

<body class="bg-light">

<div id="main" v-cloak>

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">{{space}}</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse">
            <ul class="navbar-nav mr-auto">
                <nav_bar_components v-for="nav_bar in nav_bar_data"
                                    v-bind:nav_bar="nav_bar"
                                    v-bind:key="nav_bar.id">
                </nav_bar_components>
            </ul>
        </div>
    </nav>

    <div class="nav-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
            <nav_scroller_components v-for="nav_scroller in nav_scroller_data"
                                     v-bind:nav_scroller="nav_scroller"
                                     v-bind:key="nav_scroller.id">
            </nav_scroller_components>
        </nav>
    </div>

    <div th:if="${totalElements == null}" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">该用户非常羞涩，以至于到今天都没有一篇博文产出</h6>
                <small></small>
            </div>
        </div>
    </div>

    <div th:else class="container">

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <strong>
                <h3 th:text="${user.name}"></h3>
            </strong>
            <p th:text="${user?.signature}" class="mb-0"></p>
        </div>

        <div th:if="${articles != null}" class="my-3 p-3 bg-white rounded box-shadow">

            <nav class="mb-3 text-center">
                <a th:if="${prev_page != null}"
                   th:href="'?page=' + ${prev_page} + '&size=' + ${size}"
                   class="btn btn-sm btn-outline-primary float-left">
                    上一页
                </a>
                <a th:unless="${prev_page != null}"
                   class="btn btn-sm btn-outline-primary float-left disabled">
                    上一页
                </a>
                <a th:if="${page != null}" href="javascript:void(0)" th:text="${page} + '/' + ${totalPages}"></a>
                <a th:if="${next_page != null}"
                   th:href="'?page=' + ${next_page} + '&size=' + ${size}"
                   class="btn btn-sm btn-outline-primary float-right">
                    下一页
                </a>
                <a th:unless="${next_page != null}"
                   class="btn btn-sm btn-outline-primary float-right disabled">
                    下一页
                </a>
            </nav>

            <div class="media text-muted pt-3" th:each="article,stat:${articles}">
                <div class="media-body pb-0 mb-0 lh-125 border-bottom border-gray">
                    <div class="align-items-center w-100">
                        <h6>
                            <strong class="text-gray-dark">
                                <a th:href="'../article/' + ${article?.id}"
                                   th:text="${article?.title}"
                                   class="text-dark">
                                </a>
                            </strong>
                        </h6>
                        <p>
                            <i class="fas fa-user"></i>
                            <a th:text="${article?.author?.name}"
                               th:href="'../user/' + ${article?.author?.id} + '?page=1&size=10'">
                            </a>
                            &nbsp;<i class="far fa-clock"></i>
                            <span th:text="${#dates.format(article?.time,'yyyy-MM-dd HH:mm')}">
                            </span>
                        </p>
                        <p th:utext="${article?.content}" class="mb-1"></p>
                        <ul class="nav float-left mb-2">
                            <li class="nav-item">
                                <a class="nav-link text-success article-nav-link"
                                   th:href="'../article/' + ${article?.id}">
                                    <i class="fas fa-book"></i>
                                    阅
                                    <span th:text="${article.views}">0</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary article-nav-link"
                                   th:href="'../article/' + ${article?.id}">
                                    <i class="far fa-comments"></i>
                                    评
                                    <span id="comments" th:text="${article.comments}">0</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger article-nav-link"
                                   th:href="'../article/' + ${article?.id}">
                                    <i class="far fa-thumbs-up"></i>
                                    赞
                                    <span id="likes" th:text="${article.likes}">0</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark article-nav-link" th:href="'../article/' + ${article?.id}">
                                    <i class="far fa-thumbs-down"></i>
                                    踩
                                    <span id="dislikes" th:text="${article.dislikes}">0</span>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link disabled" href="javascript:void(0)">
                                    喜欢
                                    <span>0</span>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link disabled" href="javascript:void(0)">
                                    收藏
                                    <span>0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <nav th:if="${articles != null}" class="mt-3 text-center">
                <a th:if="${prev_page != null}"
                   th:href="'?page=' + ${prev_page} + '&size=' + ${size}"
                   class="btn btn-sm btn-outline-primary float-left">
                    上一页
                </a>
                <a th:unless="${prev_page != null}"
                   class="btn btn-sm btn-outline-primary float-left disabled">
                    上一页
                </a>
                <a th:if="${page != null}" href="javascript:void(0)" th:text="${page} + '/' + ${totalPages}"></a>
                <a th:if="${next_page != null}"
                   th:href="'?page=' + ${next_page} + '&size=' + ${size}"
                   class="btn btn-sm btn-outline-primary float-right">
                    下一页
                </a>
                <a th:unless="${next_page != null}"
                   class="btn btn-sm btn-outline-primary float-right disabled">
                    下一页
                </a>
            </nav>

        </div>

        <div th:if="${articles != null}" class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-3">日志</h6>
            <p class="mb-0" th:text="'共 ' + ${totalElements} + ' 篇日志'"></p>
            <br>
            <div class="form-group">
                <label for="page">页数：</label>
                <input id="page" type="number" class="form-control"
                       th:value="${page}"
                       th:max="${totalPages}"
                       th:min="1">
            </div>
            <div class="form-group">
                <label for="size">条数：</label>
                <input id="size" type="number" class="form-control"
                       th:value="${size}"
                       th:max="100"
                       th:min="1">
            </div>
            <button class="btn btn-sm btn-primary" onclick="javascript:jump_page();">跳页</button>
        </div>

    </div>
</div>

<input id="user_id" type="hidden" th:value="${user.id}">

<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/vue.min.js}"></script>
<script th:src="@{~/js/fontawesome.js}"></script>
<script th:src="@{~/js/messenger.min.js}"></script>
<script th:src="@{~/js/messenger-theme-flat.js}"></script>
<script th:src="@{~/js/viewer.min.js}"></script>
<script th:src="@{~/js/editormd.js}"></script>
<script th:src="@{~/lib/marked.min.js}"></script>
<script th:src="@{~/lib/prettify.min.js}"></script>
<script th:src="@{~/lib/raphael.min.js}"></script>
<script th:src="@{~/lib/underscore.min.js}"></script>
<script th:src="@{~/lib/sequence-diagram.min.js}"></script>
<script th:src="@{~/lib/flowchart.min.js}"></script>
<script th:src="@{~/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{~/js/i18N_zh_CN.js}"></script>
<script th:src="@{~/js/base.js}"></script>
<section>
    <script>
        var main = new Vue({
            el: '#main',
            data: {
                space: i18N.space,
                nav_bar_data: i18N.nav_bar_data,
                nav_scroller_data: i18N.nav_scroller_data,
            },
            components: {
                'nav_bar_components': {
                    props: ['nav_bar'],
                    template: i18N.nav_bar_components,
                },
                'nav_scroller_components': {
                    props: ['nav_scroller'],
                    template: i18N.nav_scroller_components,
                },
            },
            created: function () {

            },
        });

        // 跳页
        function jump_page() {
            var id = $("#user_id").val()
            var page = $("#page").val()
            var size = $("#size").val()
            var url = "../user/" + id + "?page=" + page + "&size=" + size
            location.replace(url)
        }
    </script>
</section>

<!-- Global site tag (gtEag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129309220-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-129309220-1');
</script>

</body>
</html>